.App {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background-color: #61dafb; */
}


.inputs {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}


.input{
  border:"none";
  padding: 10px 20px;
}

.button{
  border:"none";
  padding: 10px 20px;
  width: 100%;
}

.scene {
  perspective: 400vmin;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
}



.sphere {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
  top: 0;
  left: 0;
}

.scene::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: radial-gradient(circle farthest-corner at 33% 33%, rgba(240, 240, 220, 0.85) 0%, rgba(30, 30, 40, 0.85) 80%), radial-gradient(circle farthest-corner at 45% 45%, rgba(0, 0, 0, 0) 50%, #000000 80%);
  border-radius: 50%;
  transform: translateZ(2vmin);
}


.hemisphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotateX(90deg);
}

.hemisphere:nth-child(2) {
  transform: rotateX(-90deg);
}


body {
  background: #555;
  overflow: hidden;
}